div#top{
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
}
div#top_left_menu, div#blog_title_div, div#top_right_search, button.menu_button,button.search_button, h1#blog_title {
    display: inline;
}

body{
    margin: 0px;
}
a{
    text-decoration: none;
}
p{
    display: inline;
}
#bottom_container{
    text-align: center;
}

#blog_title_div{
    text-align: center;
    flex-grow: 1;
    
}
h1#blog_title{
    font-weight: 350;
    font-size: 1.4rem;
    color: gray;
}
#h2_title{
    text-align: center;
    margin-top: 40px;
    font-weight: 500;
}
#posts_container{
    margin: 80px;
}
hr{
    margin:0px;
    padding:0px;
    border: 0.5px solid rgb(230, 230, 230);
}
.read_more{
    margin:3px;
    padding:8px;
    font-size: 0.5rem;
    background-color: #2ed6ac;
    color: #fff;
    border: none;
    
}
